@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700;800&family=Playfair+Display:wght@400;500;600;700&display=swap');

.navbar {
  background-color: rgb(10, 10, 10);
  height: 128px;
  width: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bars {
  top: 40px;
  font-size: 2.4rem;
  color: black;
  background: none;
  position: absolute;
  left: 40px;
}

#burger-bar {
  color: rgb(252, 252, 252);
}

#arrow-left {
  position: absolute;
  top: 40px;
  left: -130px;
}

#arrow-left:hover {
  color: #bebebe;
  opacity: 0.5;
  transition: 0.3s;
}

#menu-index {
  font-family: 'Playfair';
  font-size: 2.5rem;
  letter-spacing: 4px;
  font-weight: 600;
  position: absolute;
  top: 40px;
}

.nav-menu {
  background-color: #fcfbf5;
  width: 600px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -150%;
  transition: 850ms;
  border-right: 2px solid rgba(179, 177, 177, 0.2);
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 8px 8px 8px;
  list-style: none;
  height: 20px;
}

.nav-text a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  width: 95%;
  align-items: center;
  padding: 0 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

.index-pages {
  justify-content: flex-end;
  align-items: flex-end;
  /* background-color: aqua; */
  padding: 50px 50px 50px 50px;
}

.nav-menu.items {
  width: 100%;
}

.navbar-toggle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

span {
  margin-left: 16px;
}
